/* HTML */
body{
    background-color: hsl(193, 100%, 96%);
}
h1{
    font-family: "Poppins";
    /* line-height: 1.5; */
    font-size: 3rem;
    font-weight: 600;
}
h3{
    font-family: "Poppins";
        /* line-height: 1.5; */
        font-size: 1.75rem;
        font-weight: 600;
        margin: 0;
}
p{
    font-family: "Open Sans";
    font-size: 1.25rem;
    margin: 5% 0 ;
}
a{
    text-decoration: none;
}
li {
    list-style-type: none;
}

/* HERO SECTION */

#hero-section{
    padding: 0 5%;
    margin: 0 0 7%;
}

.navbar{
    margin: 3% 0 5%;
}

.background-image{
    position: absolute;
    z-index: -1;
    top: 0;
}
.desktop-view{
    display: block;
}
.mobile-view{
    display: none;
}

.hero-img{
    width: 100%;
}

.title-text{
    padding-right: 5%;
}

.cta-button{
    padding: 3% 10%;
    background-color: hsl(322, 100%, 66%);
    border-radius: 100px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}
.nav-button{
    padding:1% 5%;
    background-color: white;
    font-size: 1rem;
    font-weight: 700;
    color: black;
    border-radius: 100px;
    border: 1px solid black;
}

/* FEATURES SECTION */

#features{
    background-color: white;
    padding: 150px 0 200px;
}
.feature-img{
    width: 100%;
}
.feature-card{
    padding: 5%;
    /* border: 1px solid black; */
    width: 80%;
    margin: 75px auto;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.feature-para{
    font-size: 1.15rem;
}

/* FOOTER */
#footer{
    background-color: hsl(192, 100%, 9%);
    color: white;
    padding: 5% 10%;
}
.icon-footer{
    border: 2px solid white;
    padding: 2%;
    color: white;
    border-radius: 100%;
}
.icon-footer:hover{
    color: hsl(322, 100%, 66%);
    border: 2px solid hsl(322, 100%, 66%);
}
.footer-link{
    color: white;
}
.footer-link:hover{
    text-decoration: underline;
    color: white;
}
.foot-link-icon{
    margin-right: 20px;
}

/* CTA SECTION */
#cta-section{
    width: 50%;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 50px 0;
    border-radius:15px;
    position: absolute;
    left: 25%;
    top:2840px;
}
.cta-btn{
    padding: 1% 3%;
    border-color: hsl(322, 100%, 66%);
    border-radius: 200px;
    background-color:hsl(322, 100%, 66%);
}

/* RESPONSIVE VIEW */

@media (max-width:575px) {
    .cta-button{
        margin-bottom: 20px;
    }
    #hero-section{
        text-align: center;
    }
    #features{
        text-align: center;
    }
    #footer{
        padding-top: 100px;
    }

    #cta-section{
        top: 2960px;
        left: 10%;
        width: 80%;
        margin: 0px auto;
    }
    #cta-section{
        padding: 25px 0;
    }
    .footer-icon-links{
        text-align: center;
    }
    .junk-text{
        margin: 0 auto;
    }
    .mobile-view{
        display: block;
    }
    .desktop-view{
        display: none;
    }
}

