/* HTML */
body{
    background-color: hsl(193, 100%, 96%);
}
h1{
    font-family: "Poppins";
    /* line-height: 1.5; */
    font-size: 3rem;
    font-weight: 600;
}
h3{
    font-family: "Poppins";
        /* line-height: 1.5; */
        font-size: 1.75rem;
        font-weight: 600;
        margin: 0;
}
p{
    font-family: "Open Sans";
    font-size: 1.25rem;
    margin: 5% 0 ;
}
a{
    text-decoration: none;
}

/* HERO SECTION */

#hero-section{
    padding: 0 5%;
    margin: 0 0 7%;
}

.navbar{
    margin: 3% 0 5%;
}

.background-image{
    position: absolute;
    z-index: -1;
    top: 0;
}

.hero-img{
    width: 100%;
}

.title-text{
    padding-right: 5%;
}

.cta-button{
    padding: 3% 10%;
    background-color: hsl(322, 100%, 66%);
    border-radius: 100px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}
.nav-button{
    padding:1% 5%;
    background-color: white;
    font-size: 1rem;
    font-weight: 700;
    color: black;
    border-radius: 100px;
    border: 1px solid black;
}

/* FEATURES SECTION */

#features{
    background-color: white;
    padding: 150px 0 350px;
}
.feature-img{
    width: 100%;
}
.feature-card{
    padding: 5%;
    /* border: 1px solid black; */
    width: 80%;
    margin: 75px auto;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.feature-para{
    font-size: 1.15rem;
}

/* FOOTER */
#footer{
    background-color: hsl(192, 100%, 9%);
    color: white;
    padding: 5% 10%;
}
.icon-footer{
    border: 2px solid white;
    padding: 2%;
    color: white;
    border-radius: 100%;
}
.icon-footer:hover{
    color: hsl(322, 100%, 66%);
    border: 2px solid hsl(322, 100%, 66%);
}
.footer-link{
    color: white;
}
.footer-link:hover{
    text-decoration: underline;
    color: white;
}
.foot-link-icon{
    margin-right: 20px;
}